/* styles.css */

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #FFD599;
}

a {
  color: #000;
}

img {
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  object-fit: cover;
}

.countdown {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}

.count {
  animation: fontVariation 1s linear infinite;
  will-change: font-variation-settings, transform;
}


@keyframes fontVariation {
  0% {
    font-variation-settings: "wght" 700;
    transform: scale(1.5);
  }

  100% {
    font-variation-settings: "wght" 400;
    transform: scale(1);
  }
}

@media (min-width: 48rem) {
  img {
    width: 50vw;
    height: 50vw;
  }

  .countdown {
    font-size: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .countdown {
    font-size: 1.6rem;
  }
}