body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #FFD599;
}

a {
  color: #000;
}

.lottie-player {
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  object-fit: cover;
}

.countdown {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}

@media (min-width: 48rem) {
  .lottie-player {
    width: 66vw;
    height: 66vw;
  }

  .countdown {
    font-size: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .lottie-player {
    width: 33vw;
    height: 33vw;
  }

  .countdown {
    font-size: 1.6rem;
  }
}